* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

header {
  padding: 30px 100px;
  background-color: teal;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
