* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
}

header {
  padding: 30px 100px;
  background-color: teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 30px;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* Main Styles */
main {
  width: 80%;
  height: 700px;
  padding: 50px;
  background-color: teal;
  margin: 50px auto;
}

footer {
  background-color: black;
  padding: 30px 100px;
}

footer p {
  text-align: center;
  color: #fff;
}
